@model IEnumerable<Category>
@{
    ViewBag.PageTitle = "Category Management";
    ViewBag.CardTitle = "View Categories";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div>
    <a class="btn btn-success" asp-action="Create" asp-controller="Category">Create</a>

</div>
<hr />
<table class="table table-hover" width="100%">
   <thead class="text-bold">
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Date Created</td>
        <td>Actions</td>
    </tr>
    </thead>
    @foreach(var i in Model)
    {
        <tr>
            <td>@i.Name</td>
            <td>@Html.Raw( i.Description)</td>
            <td>@i.CreatedTime</td>
            <td>
               
                <a class="btn btn-success" asp-action="Edit" asp-controller="Category" asp-area="Admin" asp-route-id="@i.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-controller="Category" asp-area="Admin" asp-route-id="@i.Id">Delete</a>

               @*  <a href="Category/Edit/@i.Id"class="btn btn-success">Edit</a>
               <a href="Category/Delete/@i.Id"class="btn btn-danger">Delete</a> *@
            </td>

        </tr>
    }
</table>
